In [2]:
purple = ["れにちゃん", "神奈川県", "感電少女"]

In [3]:
purple = {
    "ニックネーム":"れにちゃん",
    "出身地":"島根県",
    "キャッチフレーズ":"感電少女"
}

In [4]:
print(purple["出身地"])

島根県

In [5]:
purple

{'ニックネーム': 'れにちゃん', '出身地': '島根県', 'キャッチフレーズ': '感電少女'}

In [6]:
purple["キャッチフレーズ"] = "鍋少女"

In [7]:
purple

{'ニックネーム': 'れにちゃん', '出身地': '島根県', 'キャッチフレーズ': '鍋少女'}

In [8]:
purple["生年月日"] = "1993年6月21日"

purple

{'ニックネーム': 'れにちゃん', '出身地': '島根県', 'キャッチフレーズ': '鍋少女', '生年月日': '1993年6月21日'}

In [9]:
del purple["ニックネーム"]

In [10]:
purple

{'出身地': '島根県', 'キャッチフレーズ': '鍋少女', '生年月日': '1993年6月21日'}

In [11]:
purple["ニックネーム"]

KeyError: 'ニックネーム'

In [12]:
"生年月日" in purple

True

In [13]:
def convert_number(num):
    roman_nums = {
        1:"Ⅰ",
        2:"Ⅱ",
        3:"Ⅲ",
        4:"Ⅳ"
    }

    if num in roman_nums:
        return roman_nums[num]
    else:
        return "変換できません"

In [15]:
convert_number(4)

'Ⅳ'

In [16]:
roman_nums = {
    1:"Ⅰ",
    2:"Ⅱ",
    3:"Ⅲ",
    4:"Ⅳ"
}

for num in roman_nums:
    print(num)

1
2
3
4

In [17]:
dice = {1,2,3,4,5,6}
coin = {"表","裏"}

In [18]:
prime = {2,3,5,7,13,17}
fib = {1,1,2,3,5,8,13}

In [20]:
prime_fib = prime|fib
prime_fib

{1, 2, 3, 5, 7, 8, 13, 17}

In [21]:
dice = {1,2,3,4,5,6}
even = {2,4,6,8,10}

odd_dice = dice -even
odd_dice

{1, 3, 5}

In [22]:
dice & even

{2, 4, 6}

In [23]:
dice ^ even

{1, 3, 5, 8, 10}

In [24]:
len(dice)

6

In [25]:
codon = [
    "ATG",
    "GGC",
    "TCC",
    "AAG",
    "TTC",
    "TGG",
    "GAC",
    "TCC"
]

s_codon = set(codon)

In [26]:
print(len(codon), len(s_codon))

8 7

In [27]:
"ATG" in codon

True

In [28]:
prime

{2, 3, 5, 7, 13, 17}

In [29]:
fib

{1, 2, 3, 5, 8, 13}

In [30]:
prime_fib = prime & fib
if 13 in prime_fib:
    print("13 is prime number and fibonuch number")
if {2, 3} <= prime_fib:
    print("2,3 are prime number and fibonuch number")

13 is prime number and fibonuch number
2,3 are prime number and fibonuch number

In [31]:
month_names = ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul")

In [32]:
month_names[2]

'Mar'

In [33]:
month_names[2] = "AAAA"

TypeError: 'tuple' object does not support item assignment

In [34]:
month_names + (
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec"
)

('Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec')

In [35]:
pref_capitals = {
    (43,141):"sapporo",
    (40,140):"aomori",
    (39,141):"morioka"
}

In [36]:
loc = (39,141)

for key in pref_capitals:
    if loc == key:
        print(pref_capitals[key])
        break

morioka

In [37]:
loc = (41, 140)

nearest_cap = ""

nearest_dist = 10000

for key in pref_capitals:
    dist = ( loc[0]-key[0])**2 + (loc[1]-key[1])**2
    if nearest_dist > dist:
        nearest_cap = pref_capitals[key]

print(nearest_cap)

morioka

In [38]:
1 + 1 == 2

True

In [39]:
5**(4-4)+9 == 10

True

In [40]:
5 > 2

True

In [41]:
100 == 100.0

True

In [43]:
"かなこ" == "かなこ！"

False

In [44]:
[1,2,3] == [1,2,3]

True

In [45]:
v = 30000

if v < 28400:
    print("地上に落下します")
if v >= 28400 and v < 40300:
    print("月とお友達")
if v >= 40300 and v < 60100:
    print("惑星の仲間入りです")
if v >= 60100:
    print("アルファケンタウリを目指せ")

月とお友達

In [47]:
cnt = 1

while cnt <= 100:
    if cnt%3 == 0 and cnt%5 == 0:
        print("FizzBuzz")
    elif cnt%3 == 0:
        print("Fizz")
    elif cnt%5 == 0:
        print("Buzz")
    else:
        print(cnt)
    
    cnt += 1

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [48]:
from random import randint

hands = {
    0:"グー",
    1:"チョキ",
    2:"パー"
}

rules = {
    (0,0):"あいこ",
    (0,1):"勝ち",
    (0,2):"負け",
    (1,0):"負け",
    (1,1):"あいこ",
    (1,2):"勝ち",
    (2,0):"勝ち",
    (2,1):"負け",
    (2,2):"あいこ"
}

while True:
    pc_hand = randint(0,2)
    user_hand_str = input("0:グー, 1:チョキ, 2:パー, 3:やめる")
    if user_hand_str == "3":
        break
    if user_hand_str not in ("0", "1", "2"):
        continue

    user_hand = int(user_hand_str)
    print("あなた"+hands[user_hand]+"、コンピュータ"+hands[pc_hand])

    print(rules[(user_hand, pc_hand)])

あなたチョキ、コンピュータチョキ
あいこ
あなたチョキ、コンピュータグー
負け
あなたパー、コンピュータパー
あいこ

In [50]:
a_num = 59

for num in range(2, a_num):
    if a_num % num == 0:
        print(a_num, "は素数ではありません")
        break

else:
    print(a_num, "は素数です")

59 は素数です

In [51]:
def fizzbuzz(count=100, fizzmod=3, buzzmod=5):
    for cnt in range(1, count+1):
        if cnt%fizzmod == 0 and cnt%buzzmod == 0:
            print("Fizzbuzz")
        elif cnt%fizzmod == 0:
            print("Fizz")
        elif cnt%buzzmod == 0:
            print("Buzz")
        else:
            print(cnt)

In [52]:
fizzbuzz()

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizzbuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizzbuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizzbuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizzbuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizzbuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizzbuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [53]:
local_var = 1

def test_func(an_arg):
    local_var = an_arg
    print("test_func()の中=", local_var)

test_func(200)

print("test_func()の外", local_var)

test_func()の中= 200
test_func()の外 1